<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AKA Resto adalah aplikasi seputar restoran">
    <meta name="theme-color" content="#2c3e50"/>
    <title>AKA Resto</title>
    <link rel="manifest" href="./manifest.json">
    <link rel="apple-touch-icon" href="./public/images/android/android-launchericon-144-144.png"> 
    <link rel="shortcut icon" href="./public/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>

<header-item></header-item>
<menu-item></menu-item>
<hero-item></hero-item>

<main id="maincontent">
    <section class="content">
        <div class="latest">
            <h1 class="latest__label">Explore Restaurant</h1>
            <div class="posts">
                <article class="post-item">
                    <img class="post-item__thumbnail"
                         src=""
                         alt="">
                    <div class="post-item__content">
                        <p class="post-item__date"></a>
                        </p>
                        <h1 class="post-item__title"><a href="#"></a></h1>
                        <p class="post-item__description"></p>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>
<footer-item></footer-item>
</body>
</html>